.landing-welcome-logo {
  width: 100%;
  height: fit-content;
  max-width: 200px;
}

.landing-login-link {
  border: 1px solid #fff5;
  border-radius: 15px;
  margin: 1rem 0;
  transition: var(--transition);
}

.landing-login-link:hover {
  background: #0f0f0f;
}
